body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #f0f0f0;
    width: 100%;
}

nav a {
    margin-left: 1rem;
}

.car-list ul {
    list-style: none;
    padding: 0;
}

.car-list li {
    border: 1px solid #ddd;
    padding: 1rem;
    margin-bottom: 1rem;
}


.car-detail ul {
    list-style: none;
    padding: 0;
}

.car-detail li {
    margin-bottom: 0.5rem;
}
main {
    flex: 1;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.auth-buttons button {
  display: flex;
  padding: 8px 15px;
  margin-left: 10px;
}

.hero {
  text-align: center;
  padding: 50px 0;
}

.hero img {
  max-width: 100%;
  height: auto;
}

.car-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  position: fixed;
  bottom: 0;
  height: 5 px;
  width: 100%;
}
.d-flex {
   gap: 15px;
}